<section class="pb-4" id="services" style="background: #f4f4ef; font-family: 'Panton';">
  <div class="rule center red"></div>
    <h1 class="bold red-text bold center-align" >
      {{title}}
    </h1>
    <div class="row" style="background: #f4f4ef;">
      <div *ngFor="let obj of servicesSvg">
        <div class="col s10 push-s1 l3 ml-4 m3">
          <div class="box">
              <i [class]="obj.svg"></i>
              
          </div>
        
            <h5 class="center-align">{{obj.title}}</h5>
            <p>{{obj.message}}</p>
        </div>
      </div>
    </div>
  
</section>

