*{
  --shadow : rgba(0, 0, 0, 0.14) 0px 3px 3px 0px, rgba(0, 0, 0, 0.12) 0px 1px 7px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -1px
}
.box{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  margin: 2%;
  transition : all .4s;
  background: #f44336;
  justify-content: center;
  align-items: center;
}

.spoon{
  width: 35px;
  transition: all .4s;
  height: 35px;
  color: #fff;
}

.row{
  padding: .2rem;
  justify-content: center;
  align-items: center;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0;
    margin-left: 4.5rem !important;
    margin: 1rem;
    border: 1px solid #f44336;
    padding: 1rem;
    transition: all .4s;
    background: white;
    border-radius: .5rem;
}

.col:hover{
  box-shadow: var(--shadow);
  border: 0;
  background: #f44336;
}

.col:hover h5, .col:hover p{
  color: #fff;
}


.col:hover .box{
  background: #fff;
  box-shadow: var(--shadow);
}

.col h5, p, .col:hover .spoon{
  color: #f44336;
}

@media screen and (min-width : 670px) and (max-width: 1000px){
  .col{
    margin-left: 2.5rem !important;
  }
}

@media screen and (max-width : 670px){
  .col{
    margin: .5rem 0 !important;
  }
}