<footer class="page-footer red">
  <div class="row">
      <div class="col s12 l4">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quam nisi in optio eligendi voluptate officia magni a? In ad placeat vel molestiae suscipit id dicta sit iste rem nulla.</p>
      </div>
      <div class="col s12 l4">
          <h5 class="white-text bold">Quick Links</h5>
          <ul>
              <li><a href="" class="blue-text">Orders</a></li>
              <li><a href="" class="blue-text">Recipe</a></li>
              <li><a href="" class="blue-text">Services</a></li>
              <li><a href="" class="blue-text">Contact</a></li>
          </ul>
      </div>
      <div class="col s12 l4 hide-on-med-and-down">
          <h5 class="bold white-text">Opening Hours</h5>
          <p>Weekdays - 8:00 AM to 10:00PM</p>
          <p>Weekends - 9:AM to 11:00PM</p>
          <h5 class="bold white-text">Social Media Links</h5>
          <nav class="white-text transparent z-depth-0">
            <ul>
              <li><a href=""> <i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
              <li><a href=""><i class="fab fa-youtube"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </nav>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
          <p class="flow-text center-align">&copy; Kalashin, 2020</p>
      </div>
  </div>
</footer>
