<footer class="page-footer brown">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="white-text font-bold">Youngstars</h4>
        <p class="white-text">
          Youngstars is an organization that provides tips for pet lovers. We provide quality information to help you with your training your pet. Do join us so you can have access to our channels where you can find lots of useful information concerning any pet you have.
        </p>
      </div>
      <div class="col l4 push-l2 s12">
      	<h5 class="white-text">Services</h5>
        <ul class="footer-nav">
          <li><a id="login" class="white-text text-darken-3" routerLink="Login">Login</a></li>
          <li><a id="signup" class="white-text text-darken-3" routerLink="Signin">Signin</a></li>
        </ul>
        <h5 class="white-text font-bold">Let us be social</h5>
        <ul id="social-media">
        	<li><a class="white-text" href="#!"><i class="fab fa-facebook"></i></a></li>
        	<li><a class="white-text" href="#!"><i class="fab fa-instagram"></i></a></li>
        	<li><a class="white-text" href="#!"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  	<div class="container">
  		<p class="center-align white-text">&copy; 2020 Youngstars</p>
  	</div>
  </div>
</footer>