<nav class="nav-wrapper brown">
	<a class="brand-logo left white-text text-darken-3" style="cursor: pointer;" href="" routerLink="">
		YOUNGSTARS
	</a>

	<a class="sidenav-trigger right white-text" data-target="mobile-nav">
		<i class="material-icons">menu</i>
	</a>

	<ul class="desktop-nav right hide-on-med-and-down">
		<li><a class="white-text text-darken-3" routerLink="Login">Login</a></li>
		<li><a class="white-text text-darken-3" routerLink="Signin">Signin</a></li>
	</ul>

	<ul class="hide-on-large-only sidenav" id="mobile-nav">
		<li><a class="brown-text text-darken-3" routerLink="Login">Login</a></li>
		<li><a class="brown-text text-darken-3" routerLink="Signin">Signin</a></li>
	</ul>
</nav> 
