<div id="header">

  <nav>
    <a class="" id="logo">
      TransMonitor
    </a>

    <form class="">
      <div>
        <i class="prefix material-icons">search</i>
        <input type="text" id="search" placeholder="Search">
      </div>
    </form>

    <ul class="menu">
      <li><a href="!#">Support</a></li>
      <li><a href="!#">FAQ</a></li>
      <li><a href="!#">
        <i class="material-icons">notifications_none</i>
        <span class="badge">8</span>
      </a></li>
    </ul>

    <div class="user-info">
      <div id="details">
        <span class="greetings">Hello</span>
        <span class="name">Oluwaleke Ojo</span>
      </div>
      <div class="user-image">
        <img src="../../../assets/mockups/edited.jpg" />
      </div>
    </div>
  </nav>

</div>
