#channel{
	padding: .5rem .5rem;
	margin: .5rem -.2rem;
	border-radius: .7rem;
	cursor: pointer;
}
.image-holder{
	max-height: 200px
}

img{
	height: 200px;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 670px){
	img{
		height: 150px !important
	}
}

.btn-large{
	border-radius: .7rem
}
