<div class="container">
	<div class="row" style="margin-top: 20%; height: 60vh" >
		<div class="col s12 l8 push-l2">
			<h5 class="brown-text text-darken-3 center-align">
				<i class="material-icons" style="font-size: 5rem">check_circle</i>
			</h5>
			<h5 class="brown-text text-darken-3 center-align">
				You have successfully joined the channel. You can join more channels
			</h5>
			<div class="center">
				<a style="margin: 1rem" class="btn-large brown darken-3 white-text" (click)="goToDashboard(['Channels', user.id])" >
				  Checkout other Channels
				</a>
				<a class="btn-large brown darken-3 white-text" (click)="goToDashboard(['dashboard', user.id])" >
				  Go to your Profile
				</a>
			</div>
		</div>
	</div>
</div>