<h3 class="red-text center-align" style="font-family: 'Panton'">Ingredients</h3>

<div class="collection" style="font-family: 'Panton'; border: 0">
	<a href="" *ngFor="let filter of filters" style="border: 0" class="collection-item red-text">
		<span>{{filter}}</span>
	</a>
</div>

<form>
	<p class="range-field my-6">
		<span class="text-xl teal-text">Min Price</span>
		<input type="range" name="minPrice" id="minPrice" min="10" max="100">
	</p>
	<p class="range-field my-6 teal-text">
		<span class="text-xl">Max Price</span>
		<input type="range" name="maxPrice" id="maxPrice" min="10" max="100">
	</p>
</form>

<div class="">
	<div class="collection" style="font-family: 'Panton';border:0">
		<a  href="" *ngFor="let type of types" style="border: 0" class="collection-item">
			<span>{{type}}</span>
		</a>
	</div>
</div>