.more-btn{
  position : absolute;
  top: 1rem;
  z-index : 22;
  right: 1rem
}

h1{
  font-family: 'Panton';
}

.card{
  cursor: pointer;
  transition: all .4s;
}

.food-details{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  font-family: 'Panton';
  background-color: rgba(0, 0, 0, .4);
}

.card:hover .food-details{
  background-color: white;
  transition: all .4s;
}


.food-details h3, .food-details h5{
  color : #F44336;
}
