<div style="position: relative; font-family: 'Panton'">
    <div class="rule center red my-8"></div>
    <h1 class="bold red-text bold my-4 center-align" style="font-family: 'Panton'">
      {{title}}
    </h1>
    
    <owl-carousel-o class="my-2" [options]="customOptions">
     <ng-template carouselSlide *ngFor="let chef of chefs">
        <div class="carousel-content">
         <div class="card">
           <div class="card-image" style="overflow: hidden">
             <img [src]="chef.image" class="responsive-img" />
               <app-social-links></app-social-links>
           </div>
           <div class="card-content">
            <h5 class="center-align">{{chef.name}}</h5>  
            <p class="center-align">{{chef.position}}</p>  
           </div>
         </div> 
        </div>   
     </ng-template>
    </owl-carousel-o>
</div>
