<app-banner [bannerText]="'Contact Us'"></app-banner>
<section class="section">
  <h2 style="font-family: 'Panton';" class="red-text center">Contact Us</h2>
  <div class="row p-2">
    <div class="col s12 p-2 l6 push-l6 m8 push-m2 contact">

      <form name="contactForm" #contactForm="ngForm" (ngSubmit)="sendMail(contactForm.value)">

        <!-- name -->
        <div class="input-field">
          <i class="prefix material-icons red-text">person</i>
          <input type="text" name="name" required [(ngModel)]="contactObj.name" #name="ngModel" id="name">
          <label for="name">Name</label>
          <small class="red-text pl-12 text-md font-bold" *ngIf="name.touched && name.invalid">Name is required</small>
        </div>

        <!-- email -->
        <div class="input-field">
          <i class="prefix material-icons red-text">email</i>
          <input type="email" name="email" required [(ngModel)]="contactObj.email" #email="ngModel" id="email">
          <label for="email">Email</label>
          <small class="red-text pl-12 text-md font-bold" *ngIf="email.touched && email.invalid">Please enter email / Email is wrong Format</small>
        </div>

        <!-- subject -->
        <div class="input-field">
          <i class="prefix material-icons red-text">chrome_reader_mode</i>
          <input type="text" name="subject" required [(ngModel)]="contactObj.subject" #subject="ngModel" id="subject">
          <label for="subject">Subject</label>
          <small class="red-text pl-12 text-md font-bold" *ngIf="subject.touched && subject.invalid">Subject is required</small>
        </div>

        <!-- message -->
        <div class="input-field">
          <i class="prefix material-icons red-text">person</i>
          <textarea class="materialize-textarea" name="message" required [(ngModel)]="contactObj.message" #message="ngModel" id="message"></textarea>
          <label for="message">Message</label>
          <small class="red-text pl-12 text-md font-bold" *ngIf="message.touched && message.invalid">Message is required</small>
        </div>

        <div class="input-field">
          <div class="center">
            <button type="submit" class="btn red white-text" style="border-radius: .8rem; font-family: 'Panton';" [disabled]="!contactForm.valid">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
