.banner{
  background: url(../../assets/images/title_background/2138.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Panton';
}

@media screen and (max-width: 670px){
  .banner{
    height: 200px !important;
  }
}

.banner::after{
  content: '';
  background: rgba(0, 0, 0, .5);
  display: block;
  top: 0; left: 0;
  position: absolute;
  width: 100vw;
  height: 400px;
}

.banner h2{
  position: relative;
  z-index: 10;
}
