<app-banner [bannerText]="food.name"></app-banner>
<section class="my-10" style="font-family: 'Panton'">
	<div class="rule red center my-2"></div>
	<h3 class="red-text center-align my-8">Food Details</h3>
	<section class="my-10">
		<div class="row">
			<div class="col s12 l6 m6">
				<img [src]="food.image" style="width: 100%; height: 600px; object-fit: cover;" />
			</div>
			<div class="col s12 l6 m6">
				<h4 class="red-text">{{food.name}}</h4>
				<div class="divider"></div>
				<h5 class="red-text">Price - ${{food.price}}</h5>
				<h5 class="red-text">Ingregients - {{food.ingredients.join(', ')}}</h5>
				<h5 class="red-text">
					<span>Reviews - </span>
					<span><i class="material-icons yellow-text">star</i></span>
					<span><i class="material-icons yellow-text">star</i></span>
					<span><i class="material-icons yellow-text">star</i></span>
				</h5>
				
				
				<div class="card z-depth-0">
					<h5 class="red-text">Details</h5>
					<div class="card-content">
						
						<span class="red-text" style="line-height: .3rem">{{food.description}}</span>
					</div>
				</div>

				<a href="" class="btn red white-text" style="width: 96%; margin: .5rem">Add to cart <i class="material-icons right">add_shopping_cart</i></a>

			</div>
		</div>
		<div class="row">
			<!-- <div class="col s4 l4 m4">
				<app-new-food></app-new-food>
			</div> -->
			<div class="col s12 l12 m12">
				<app-discount-food></app-discount-food>
			</div>
		</div>
	</section>
</section>
