<nav class="nav-wrapper red">
  <a href="#" class="sidenav-trigger left white-text hide-on-large-only" data-target="mobile-nav">
    <i class="material-icons left white-text text-darken-2">menu</i>
  </a>

  <ul class="hide-on-med-and-down center pl-8">
    <li><a routerLink="landing" routerLinkActive="active" class="white-text text-darken-2">Home</a></li>
    <li><a href="" class="white-text text-darken-2">Meals</a></li>
    <li><a href="" class="white-text text-darken-2">Beverages</a></li>
    <li><a href="" class="white-text text-darken-2">Ice Cream</a></li>
    <li><a href="" class="white-text text-darken-2">Shop</a></li>
    <li><a routerLink="contact" routerLinkActive="active" class="white-text text-darken-2">Contact</a></li>
    <li><a href="" class="brand-logo hide-on-large-only text-md ml-8 white-text darken-2">
      <span>FoodKal</span>
      </a></li>
  </ul>

  <a href="" class="brand-logo hide-on-large-only right mr-24 md:mr-20 white-text darken-2">
    <span class="left">FoodKal</span>
    <i class="right fas fa-medal"></i>
    </a>

  <!-- sidenav -->
  <ul class="sidenav" id="mobile-nav">

    <li><a routerLink="landing" routerLinkActive="active" class="red-text text-darken-2">
      <span class="left">Home</span>
      <i class="material-icons ml-4 red-text right">home</i>
    </a></li>

    <li><a href="" class="red-text text-darken-2">
      <i class="material-icons ml-4 red-text right">group_work</i>
      <span class="left">Meals</span>
    </a></li>

    <li><a href="" class="red-text text-darken-2">
      <span class="left">Beverages</span>
      <i class="material-icons ml-4 red-text right">extension</i>
    </a></li>

    <li><a href="" class="red-text text-darken-2">
      <i class="material-icons ml-4 red-text right">bookmark_border</i>
      <span class="left">Ice Cream</span>
    </a></li>

    <li><a routerLink="contact"routerLinkActive="active" class="red-text text-darken-2">
      <span class="left">Contact</span>
      <i class="material-icons ml-4 red-text right">email</i>
    </a></li>

    <!-- <li><a a (click)="logoutUser($event)"  class="red-text logout hide text-darken-2">
      <span class="left">Logout</span>
      <i class="material-icons ml-4 red-text right">exit_to_app</i>
    </a></li> -->

    <li><a routerLink="/login" routerLinkActive="active" class="red-text login text-darken-2">
      <span class="left">Login</span>
      <i class="material-icons ml-4 red-text right">accessibility</i>
    </a></li>

    <li><a routerLink="/signup" routerLinkActive="active" class="red-text text-darken-2">
      <span class="left">Register</span>
      <i class="material-icons ml-4 red-text right">note_add</i>
  </a></li>

  <li><a href="" class="red-text text-darken-2 mt-1">
    <span class="left">Search</span>
    <i class="material-icons ml-4 red-text right">search</i>
  </a></li>

  <li><a href="" class="red-text text-darken-2 mt-1">
    <span class="left">Favourite</span>
    <i class="material-icons ml-4 red-text right">favorite</i>
  </a></li>

  <li><a href="" class="red-text text-darken-2 mt-1">
    <span class="left">Cart</span>
    <i class="material-icons ml-4 red-text right">shopping_cart</i>
  </a></li>

  </ul>

  <ul class="right hide-on-med-and-down">

    <div class="left">

      <li><a routerLink="/login" routerLinkActive="active" class="red-text login white btn z-depth-0" style="border-top-right-radius: 1rem; border-bottom-left-radius: 1rem;">Login</a></li>



      <li><a routerLink="/signup" routerLinkActive="active" class="white-text text-darken-2 font-bold">Register</a></li>

    </div>


    <div class="right">
      <li><a href="" class="white-text text-darken-2 mt-1">
        <i class="material-icons right">search</i>
      </a></li>
      <li><a href="" class="white-text text-darken-2 mt-1">
        <i class="material-icons right">favorite</i>
      </a></li>
      <li><a routerLink="dashboard/cart" class="white-text text-darken-2 mt-1">
        <i class="material-icons right">shopping_cart</i>
      </a></li>
    </div>
  </ul>
</nav>



<script>

</script>
