<app-banner [bannerText]="'Register'"></app-banner>

<div class="section h-screen" style="margin: 0;padding: 0;">
  <div class="row px-1 z-depth-2 rounded-md" style="margin: .8rem;padding: 0; overflow: hidden;">

    <div class="col s12 l4 m4 p-6 formCol">

      <form #signupForm="ngForm" (ngSubmit)="signUpUser(signupForm.value)">
        <h3 class="center-align text-red-600" style="font-family: 'Panton';">Sign Up</h3>

        <div class="input-field">
          <i class="text-red-600 prefix material-icons">person</i>
          <input type="text" name="firstName" required #firstName="ngModel" [(ngModel)]="user.firstName" id="first-name" />
          <label for="first-name">First Name</label>
          <small class="red-text pl-12 text-md font-bold" *ngIf="firstName.touched && firstName.invalid">Name is Required</small>
        </div>

        <div class="input-field">
          <i class="text-red-600 prefix material-icons">person</i>
          <input type="text" name="lastName" required #lastName="ngModel" [(ngModel)]="user.lastName" id="last-name" />
          <small class="red-text pl-12 text-md font-bold" *ngIf="lastName.touched && lastName.invalid">Name is Required</small>
          <label for="last-name">Last Name</label>
        </div>

        <div class="input-field">
          <i class="text-red-600 prefix material-icons">email</i>
          <input type="email" name="email" #email="ngModel" required [(ngModel)]="user.email" id="email" />
          <small class="red-text pl-12 text-md font-bold" *ngIf="email.touched && email.invalid">Name is Required</small>
          <label for="email">Email</label>
        </div>

        <div class="input-field">
          <i class="text-red-600 prefix material-icons">https</i>
          <input type="password" #password="ngModel" name="password" required minlength="8" [(ngModel)]="user.password" id="password" />
          <small class="red-text pl-12 text-md font-bold" *ngIf="password.touched && password.invalid">Name is Required</small>
          <label for="password">Password</label>
        </div>

        <div class="input-field">
          <div class="center">
            <button type="submit" style="font-family: 'Panton'" class="btn-large red hover:bg-green-600" [disabled]="!signupForm.valid">Sign Up</button>
          </div>
        </div>
      </form>

    </div>

    <div class="col hide-on-small-only l8 m8" style="margin: 0;padding: 0; overflow: hidden">
      <img src="../../assets/images/auth/nik-owens-i4zAEmsHBFw-unsplash.jpg" class="responsive-img" />
    </div>

  </div>
</div>

