<h3 class="white-text hide-on-small-only" style="font-family: 'Panton'">
  Good Meals at your Finger tips
</h3>
<h6 class="white-text">
  We serve delicious food to any location in Port Harcourt in 30mins, Order Now, click that button below!!
</h6>
<div class="center mt:2 lg:mt-4 p-6">
  <a class="btn-large center white z-depth-0 red-text" style="font-family: 'Panton';border-radius: .8rem;">Order Now</a>
  <a class="btn-large center ml-4 blue-green z-depth-0 lighten-2 white-text" style="font-family: 'Panton';border-radius: .8rem;">See Menu</a>
</div>