<div style="position:relative">
  <div class="rule center red mb-8"></div>
    <h1 class="bold red-text bold my-8 center-align" style="font-family: 'Panton'">
      {{title}}
    </h1>
  <owl-carousel-o class="my-8" [options]="customOptions">
    <ng-template carouselSlide *ngFor="let food of foods">
      <div class="carousel-content">
        <a (click)="goToFood(food, $event)">
          <img [src]="food.image" style="height: 300px; object-fit: cover;" />
        </a>
        <div class="carousel-text">
        <a (click)="goToFood(food, $event)">
          <div class="circle rounded-full w-32 h-32 border-2 z-depth-1-and-half">
            <h6>${{food.price * .30}}</h6>
            <span>-30%</span>
          </div>
        </a>

        <a (click)="goToFood(food, $event)">
          <h6 class="center-align">{{food.name}}</h6>
        </a>
        <a (click)="goToFood(food, $event)">
          <p class="white-text lighten-2" style="text-decoration: line-through;">$ {{food.price}}</p>
        </a>
      </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
